.toogle-block {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 8px;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 1px 2px #e8e9ea;
  border-radius: 10px;
  &:hover {
    box-shadow: 0px 2px 10px rgba(19, 19, 19, 0.09);
  }
  .toogle-header {
    display: flex;
    padding: 2px 0;
    font-size: 16px;
    align-items: center;
    cursor: pointer;
    .toogle-icon {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: #1367d7;
      margin-right: 15px;
      text-align: center;
      line-height: 36px;
      color: #ffffff;
    }
    h3 {
      font-size: 20px;
    }
    .arrow {
      width: 16px;
      height: 10px;
      background: url('/dist/images/arrow.svg') no-repeat;
      margin-left: auto;
      transform: rotate(180deg);
      transition: transform 150ms ease;
      &.active {
        transform: rotate(0);
      }
    }
  }
  .toogle-body {
    margin-left: 50px;
  }
}
