html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  font-size: 16px;
  color: #222634;
  background: #fafbfc;
}

* {
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}
a {
  color: #2b69ff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #121926;
  font-weight: normal;
}
p {
  font-weight: 200;
}
ul {
  list-style: none;
}
input,
select {
  font-size: inherit;
  font-family: inherit;
}

form {
  margin: 0;
}
